{% extends 'base.html' %}

{% block content %}

    <h1>########### ~Admin view~ ###########</h1>

    <h2>Admin navigation:</h2>
    <nav>
        <a href="{{ url_for('admin.index') }}">Admin root</a>
        <a href="{{ url_for('admin.movie') }}">Movies</a>
        <a href="{{ url_for('admin.user') }}">Users</a>
        <a href="{{ url_for('admin.actor') }}">Actors</a>
        <a href="{{ url_for('admin.genre') }}">Genres</a>
        <a href="{{ url_for('admin.language') }}">Languages</a>
    </nav>

    <hr>

    {% block adminstuff %}
        <h2>Reviews in db:</h2>
        {% if reviews %}
        <div class="adm-table">
            <table>
                <thead>
                    <tr>
                        <th class="color-bg-main">movie</th>
                        <th class="color-bg-main">user</th>
                        <th class="color-bg-main">datetime added</th>
                        <th class="color-bg-main">grade</th>
                        <th class="color-bg-main">thoughts</th>
                        <th class="color-bg-main">feelings</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in reviews %}
                    <tr>
                        <td>{{ r.title }}, {{ r.year }}</td>
                        <td>{{ r.username }}</td>
                        <td>{{ r.timestamp }}</td>
                        <td>{{ r.grade }}</td>
                        <td>{{ r.thoughts }}</td>
                        <td>{{ r.feelings }}</td>
                        <td>
                            <div>
                                <noscript>
                                    <form action="{{ url_for('admin.review_del', id=r.id) }}" method="POST" novalidate>
                                        {{ del_form.hidden_tag() }}
                                        <div>
                                            {{ del_form.submit() }}
                                        </div>
                                    </form>
                                </noscript>
                                <div id="insert-{{ r.id }}"></div>
                                <script nonce="{{ csp_nonce() }}" type="text/javascript">
                                    function send() {
                                        var yn = confirm("Are you sure you want to delete?");
                                        if (!yn) return;
                                        var form = document.createElement("form");
                                        form.method = "POST";
                                        form.action = "{{ url_for('admin.review_del', id=r.id) }}";
                                        var input = document.createElement("input");
                                        input.name="csrf_token";
                                        input.value="{{ csrf_token() }}"
                                        form.appendChild(input);
                                        document.getElementById("insert-{{ r.id }}").appendChild(form);
                                        form.submit();
                                    }
                                    var btn = document.createElement("button");
                                    btn.onclick = send;
                                    var text = document.createTextNode("del");
                                    btn.appendChild(text);
                                    document.getElementById("insert-{{ r.id }}").appendChild(btn);
                                </script>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "_pagination_links.html" %}
        {% else %}
            <p>No reviews yet...</p>
        {% endif %}

    {% endblock adminstuff %}

{% endblock content %}
