<!DOCTYPE html>
<html>
    <head>
        <title>Titanic Movies</title>

        <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/librebaskerville-bold-webfont.woff2') }}"
            type="font/woff2" crossorigin="anonymous">
        <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/librebaskerville-italic-webfont.woff2') }}"
            type="font/woff2" crossorigin="anonymous">
        <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/librebaskerville-regular-webfont.woff2') }}"
            type="font/woff2" crossorigin="anonymous">

        <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/spacemono-bold-webfont.woff2') }}"
            type="font/woff2" crossorigin="anonymous">
        <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/spacemono-bolditalic-webfont.woff2') }}"
            type="font/woff2" crossorigin="anonymous">
        <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/spacemono-italic-webfont.woff2') }}"
            type="font/woff2" crossorigin="anonymous">
        <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/spacemono-regular-webfont.woff2') }}"
            type="font/woff2" crossorigin="anonymous">

        <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/librebaskerville-bold-webfont.woff') }}"
            type="font/woff" crossorigin="anonymous">
        <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/librebaskerville-italic-webfont.woff') }}"
            type="font/woff" crossorigin="anonymous">
        <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/librebaskerville-regular-webfont.woff') }}"
            type="font/woff" crossorigin="anonymous">

        <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/spacemono-bold-webfont.woff') }}"
            type="font/woff" crossorigin="anonymous">
        <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/spacemono-bolditalic-webfont.woff') }}"
            type="font/woff" crossorigin="anonymous">
        <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/spacemono-italic-webfont.woff') }}"
            type="font/woff" crossorigin="anonymous">
        <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/spacemono-regular-webfont.woff') }}"
            type="font/woff" crossorigin="anonymous">

        <link rel="stylesheet preload prefetch" as="style" href="{{ url_for('static', filename='css/index.css') }}"
            type="text/css" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">


    </head>
    <body class="color-bg-main">
        <header>
            <nav>
                <div>Titanic Movies 
                    <a href="{{ url_for('main.index') }}">Home</a>
                    <a href="{{ url_for('main.browse') }}">Browse movies</a>
                    {% if current_user.is_anonymous %}
                        <a href="{{ url_for('main.login') }}">Login</a>
                        <a href="{{ url_for('main.register') }}">Register</a>
                    {% else %}
                        <a href="{{ url_for('main.profile') }}">Profile</a>
                        <a href="{{ url_for('main.logout') }}">Logout</a>
                    {% endif %}
                </div>
                {% if current_user.is_authenticated %}
                    Logged in as {{ current_user. username }}
                {% endif %}
            </nav>
        </header>
        {% with messages=get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for m in messages %}
                        <li>{{ m }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <div class="footer_out">
                <div class="footer_in_left">
                    &copy; 2021 Titanic Movies
                </div>
                <div class="footer_in_right">
                    Titanic Movies is a HY database course project.
                </div>
            </div>
        </footer>
    </body>
</html>
