{% extends "base.html" %}
{% block content %}

    <h2>Browse movies</h2>
    <dl>
        {% set ns = namespace(prev = ' ') %}
        {% for m in movies %}

            {% if m.title[0].upper() != ns.prev %}
                {% set ns.prev = m.title[0].upper() %}
                <dt class="color-bg-secondary">{{ ns.prev }}</dt>
            {% endif %}
            <dd>
                <a href="{{ url_for('main.movie_details', id=m.id) }}">{{ m.title }}, {{ m.year }}</a>
            </dd>

        {% else %}
            No movies exist...
        {% endfor %}
    </dl>

{% endblock content %}
