{% extends 'base.html' %}

{% block content %}

    <h1>Login</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for e in form.username.errors %}
                <div class="errormsg">{{ e }}</div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for e in form.password.errors %}
                <div class="errormsg">{{ e }}</div>
            {% endfor %}
        </p>
        <p>
            {{ form.remember_me }} {{ form.remember_me.label }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    
{% endblock content %}
