{% extends 'base.html' %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.email }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for e in form.username.errors %}
                <div class="errormsg">{{ e }}</div>
            {% endfor %}
            {% for e in form.email.errors %}
                <div class="errormsg">{{ e }}</div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for e in form.password.errors %}
                <div class="errormsg">{{ e }}</div>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for e in form.password2.errors %}
                <div class="errormsg">{{ e }}</div>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock content %}