@font-face {
    font-family: 'libre_baskerville';
    src: url('/static/fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('/static/fonts/librebaskerville-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'libre_baskerville';
    src: url('/static/fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('/static/fonts/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'libre_baskerville';
    src: url('/static/fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('/static/fonts/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'spacemono';
    src: url('/static/fonts/spacemono-bold-webfont.woff2') format('woff2'),
         url('/static/fonts/spacemono-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'spacemono';
    src: url('/static/fonts/spacemono-bolditalic-webfont.woff2') format('woff2'),
         url('/static/fonts/spacemono-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'spacemono';
    src: url('/static/fonts/spacemono-italic-webfont.woff2') format('woff2'),
         url('/static/fonts/spacemono-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'spacemono';
    src: url('/static/fonts/spacemono-regular-webfont.woff2') format('woff2'),
         url('/static/fonts/spacemono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 80vw;
    min-height: 100vh;
    line-height: 1.5;
    padding: 4em 1em;
    opacity: 95%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1440px) and (orientation: landscape) {
    body {
        max-width: 50vw;
    }
}

main {
    flex-grow: 1;
}

header, footer {
    flex-shrink: 0;
}

header {
    border-bottom: 1px solid;
}

footer {
    border-top: 1px solid;
}

footer, small {
    font-size: small;
}

h1, h2, h3, h4, h5, h6, .header-font {
    font-family: 'libre_baskerville';
    font-size: x-large;
}

h1, h2 {
    font-size: xx-large;
}

strong {
    font-family: 'libre_baskerville';
    font-size: large;
}

.body-font, body, a {
    font-family: 'spacemono';
    font-size: medium;
}

.color-link, a {
    color: #b63225;
}

.color-main {
    color: #004e7c;
}

.color-secondary {
    color: #591b0c;
}

.color-bg-main {
    background-color: #dce1e4;
}

.color-bg-secondary {
    background-color: #5d6059;
}

.footer_in_left {
    width: 49%;
    float: left;
    display: inline;
}

.footer_in_right {
    width: 49%;
    float: right;
    display: inline;
}

.comma-sep-list {
    display: inline;
    list-style: none;
    padding: 0;
}

.comma-sep-list li::after {
    content: ", ";
}

.comma-sep-list li:last-child::after {
    content: "";
}

.comma-sep-list li {
    display: inline;
}

.review_text_area {
    width: 30%;
    line-height: 140%;
    padding: 15px 10px;
}

dt {
    color: #FFF;
    font: bold;
    font-size: larger;
    line-height: 200%;
    margin: 0;
    padding: 4px 0 4px 12px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

dd {
    line-height: 175%;
    font: normal;
    font-size: medium;
    margin: 0;
    padding: 0 0 0 12px;
    white-space: nowrap;
}

.flex-entry {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: top;
}

.flex-entry>* {
    flex: 1 auto;
    justify-content: space-around;
    margin: 0px 10px 0px 10px;
}

.adm-list {
    border: 1px dashed;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
}

.flex-entry>li {
    list-style: none;
}

td {
    padding: 0 5px 0 5px;
    border: 1px dotted;
}

section#movie_info_box {
    border-bottom: 1px solid;
}

section#custom_review_box textarea {
    resize: none;
    width: 95%;
    height: 85%;
}

.errormsg {
    color: red;
}

section#movie_reviews_box {
}

.single-review {
    padding-left: 10px;
    margin-bottom: 20px;
}

div#main-image {
    width: 100%;
    height: auto;
    background-image: url('/static/images/banner_small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

div#main-image>* {
    position: relative;
    text-align: center;
    color: white;
}


p#text-search input {
    width: 85%;
}

nav#nav-pagination-links {
    text-align: center;
}

nav#nav-pagination-links p a#link-first-page {
    float: left;
}

nav#nav-pagination-links p a#link-last-page {
    float: right;
}

div#adm-table {
    overflow: auto;
    width: auto;
    max-height: 70vh;
}

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

img.img-profile {
    width: 250px;
    height: 250px;
}
