.footer_out {
    width: auto;
    border: 1px solid;
}

.footer_in_left {
    width: 49%;
    float: left;
    display: inline;
}

.footer_in_right {
    width: 49%;
    float: right;
    display: inline;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
}

.adm_list_entry {
    display: flex;
    border: 1px dashed;
    margin: 5px 0px 5px 0px;
}

.adm_list_entry>* {
    flex: 1;
    margin: 5px;
}

.comma-sep-list {
    display: inline;
    list-style: none;
    padding: 0;
}

.comma-sep-list li::after {
    content: ", ";
}

.comma-sep-list li:last-child::after {
    content: "";
}

.comma-sep-list li {
    display: inline;
}

.review_text_area {
    width: 30%;
    line-height: 140%;
    padding: 15px 10px;
}


