<div class="single-review">
    <div class="single-review-left color-bg-secondary">
        <div>
            <img class="img-review-box" src="{{ url_for('image', id=review.user_id, img=review.image) }}" alt="profile picture">
        </div>
        <div><small>{{ review.timestamp.date() }}</small><br><strong>{{ review.username }}</strong></div>
    </div>
    <div class="single-review-right">
        <p>{{ review.thoughts }}</p>
        <p>{{ review.feelings }}</p>
        <p>{{ review.grade }}/5</p>
    </div>
</div>
