<div class="single-review">
    <h4>Review by {{ review.username }}: {{ review.grade }}/5<br>
        <small>{{ review.timestamp }}</small>
    </h4>
    <div>
        <h5>Thoughts:</h5>
        <p>{{ review.thoughts }}</p>
    </div>
    <div>
        <h5>Feelings:</h5>
        <p>{{ review.feelings }}</p>
    </div>
</div>
