{% extends "admin.j2" %}
{% block adminstuff %}
    <section>
        <h2>Actors in db:</h2>
        {% if actors %}
            <table>
                <tr>
                    <th>name</th>
                </tr>
                {% for a in actors %}
                <tr>
                    <td>{{ a.name }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No actors yet...</p>
        {% endif %}
        <h2>Add new:</h2>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}
                {% for e in form.name.errors %}
                    <div style="color: red;">{{ e }}</div>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </section>
{% endblock adminstuff %}
