{% extends 'base.j2' %}

{% block content %}

    <h1>########### ~Admin view~ ###########</h1>

    <h2>Admin navigation:</h2>
    <nav>
        <a href="{{ url_for('admin') }}">Admin root</a>
        <a href="{{ url_for('admin_movie') }}">Movies</a>
        <a href="{{ url_for('admin_user') }}">Users</a>
        <a href="{{ url_for('admin_actor') }}">Actors</a>
        <a href="{{ url_for('admin_genre') }}">Genres</a>
    </nav>

    <hr>

    {% block adminstuff %}
        <h2>Reviews:</h2>
        {% if reviews %}
            <div>
                {% for r in reviews %}
                    <div class="flex-entry adm-list">
                        <div><strong>user:</strong> {{ r.username }}</div>
                        <div><strong>grade:</strong> {{ r.grade }}</div>
                        <div><strong>thoughts:</strong> {{ r.thoughts[0:20] }}...</div>
                        <div><strong>feelings:</strong> {{ r.feelings[0:20] }}...</div>
                        <div>
                            <noscript>
                                <form action="{{ url_for('admin_review_del', id=r.id) }}" method="POST" novalidate>
                                    {{ del_form.hidden_tag() }}
                                    <div>
                                        {{ del_form.submit() }}
                                    </div>
                                </form>
                            </noscript>
                            <div id="insert-{{ r.id }}"></div>
                            <script type="text/javascript">
                                function send() {
                                    var yn = confirm("Are you sure you want to delete?");
                                    if (!yn) return;
                                    var form = document.createElement("form");
                                    form.method = "POST";
                                    form.action = "{{ url_for('admin_review_del', id=r.id) }}";
                                    document.getElementById("insert-{{ r.id }}").appendChild(form);
                                    form.submit();
                                }
                                var btn = document.createElement("button");
                                btn.onclick = send;
                                var text = document.createTextNode("del");
                                btn.appendChild(text);
                                document.getElementById("insert-{{ r.id }}").appendChild(btn);
                            </script>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No reviews yet...</p>
        {% endif %}
    {% endblock adminstuff %}

{% endblock content %}
