{% extends "admin.html" %}
{% block adminstuff %}
    <section>
        <h2>Movies in db:</h2>
        {% if movies %}
        <div class="adm-table">
            <table>
                <thead>
                    <tr>
                        <th class="color-bg-main">title</th>
                        <th class="color-bg-main">year</th>
                        <th class="color-bg-main">synopsis</th>
                        <th class="color-bg-main">date added</th>
                        <th class="color-bg-main">trailer</th>
                        <th class="color-bg-main">director</th>
                        <th class="color-bg-main">actors</th>
                        <th class="color-bg-main">genres</th>
                        <th class="color-bg-main">languages</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in movies %}
                    <tr>
                        <td>{{ m.title }}</td>
                        <td>{{ m.year }}</td>
                        <td>
                            {% if m.synopsis %}
                                <div>{{ m.synopsis[0:40] }}...</div>
                            {% endif %}
                            <a href="{{ url_for('admin_movie_synopsis', id=m.id) }}">Edit</a>
                        </td>
                        <td>{{ m.timestamp.date() }}</td>
                        <td>
                            {% if m.trailer_url %}
                                <div>{{ m.trailer_url }}</div>
                            {% endif %}
                            <a href="{{ url_for('admin_movie_trailer', id=m.id) }}">Edit</a>
                        </td>
                        <td>
                            <div class="flex-entry adm-list">
                                <div>{{ m.director }}</div>
                            </div>
                            <div class="flex-entry adm-list">
                                <form action="{{ url_for('admin_movie_set_director', id=m.id) }}" method="POST" novalidate>
                                    {{ sel_director_form.hidden_tag() }}
                                    <div>
                                        {{ sel_director_form.select }} {{ sel_director_form.submit() }}
                                    </div>
                                </form>
                            </div>
                        </td>
                        <td>
                        {% for a in m.actors %}
                            <div class="flex-entry adm-list">
                                <div>{{ a.name }}</div>
                                <form action="{{ url_for('admin_movie_del_actor', movie_id=m.id, actor_id=a.id) }}"
                                    method="POST" novalidate>
                                    {{ del_form.hidden_tag() }}
                                    <div>{{ del_form.submit() }}</div>
                                </form>
                            </div>
                        {% else %}
                            <div class="flex-entry adm-list">
                                <div>No actors...</div>
                            </div>
                        {% endfor %}
                            <div class="flex-entry adm-list">
                                <form action="{{ url_for('admin_movie_add_actor', id=m.id) }}" method="POST" novalidate>
                                    {{ add_actor.hidden_tag() }}
                                    <div>
                                        {{ add_actor.select() }} {{ add_actor.submit() }}
                                    </div>
                                </form>
                            </div>
                        </td>
                        <td>
                        {% for g in m.genres %}
                            <div class="flex-entry adm-list">
                                <div>{{ g.name }}</div>
                                <form action="{{ url_for('admin_movie_del_genre', movie_id=m.id, genre_id=g.id) }}"
                                    method="POST" novalidate>
                                    {{ del_form.hidden_tag() }}
                                    <div>{{ del_form.submit() }}</div>
                                </form>
                            </div>
                        {% else %}
                            <div class="flex-entry adm-list">
                                <div>No genres...</div>
                            </div>
                        {% endfor %}
                            <div class="flex-entry adm-list">
                                <form action="{{ url_for('admin_movie_add_genre', id=m.id) }}"
                                    method="POST" novalidate>
                                    {{ add_genre.hidden_tag() }}
                                    <div>
                                        {{ add_genre.select() }} {{ add_genre.submit() }}
                                    </div>
                                </form>
                            </div>
                        </td>
                        <td>
                        {% for l in m.languages %}
                            <div class="flex-entry adm-list">
                                <div>{{ l.name }}</div>
                                <form action="{{ url_for('admin_movie_del_language', movie_id=m.id, language_id=l.id) }}"
                                    method="POST" novalidate>
                                    {{ del_form.hidden_tag() }}
                                    <div>{{ del_form.submit() }}</div>
                                </form>
                            </div>
                        {% else %}
                            <div class="flex-entry adm-list">
                                <div>No languages...</div>
                            </div>
                        {% endfor %}
                            <div class="flex-entry adm-list">
                                <form action="{{ url_for('admin_movie_add_language', id=m.id) }}"
                                    method="POST" novalidate>
                                    {{ add_language.hidden_tag() }}
                                    <div>
                                        {{ add_language.select() }} {{ add_language.submit() }}
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "_pagination_links.html" %}
        {% else %}
            <p>No movies yet...</p>
        {% endif %}
    </section>
    <div class="flex-entry">
        <section class="adm-add">
            <h2>Add new:</h2>
            <form action="" method="POST" novalidate>
                {{ add_form.hidden_tag() }}
                <p>
                    {{ add_form.title.label }}<br>
                    {{ add_form.title(size=32) }}
                    {% for e in add_form.title.errors %}
                        <div style="color: red;">{{ e }}</div>
                    {% endfor %}
                </p>
                <p>
                    {{ add_form.year.label }}<br>
                    {{ add_form.year(size=32) }}
                    {% for e in add_form.year.errors %}
                        <div style="color: red;">{{ e }}</div>
                    {% endfor %}
                </p>
                <p>
                    {{ add_form.synopsis.label }}<br>
                    {{ add_form.synopsis(size=32) }}
                </p>
                <p>
                    {{ add_form.submit() }}
                </p>
            </form>
        </section>

        <section class="adm-del">
            <h2>Delete:</h2>
            <form action="{{ url_for('admin_del_movie') }}" method="POST" novalidate>
                {{ del_movie_form.hidden_tag() }}
                <p>
                    {{ del_movie_form.select.label }}<br>
                    {{ del_movie_form.select }}
                </p>
                <p>
                    {{ del_movie_form.submit() }}
                </p>
            </form>
        </section>
    </div>

{% endblock adminstuff %}
