{% extends 'base.j2' %}

{% block content %}

    <h1>########### ~Admin view~ ###########</h1>
    <hr>

    <a href="{{ url_for('admin_movie') }}">Movies</a>
    <a href="{{ url_for('admin_user') }}">Users</a>

    {% block adminstuff %}
    {% endblock adminstuff %}

{% endblock content %}
