{% extends "admin.j2" %}
{% block adminstuff %}
    <section>
        <h2>Movies in db:</h2>
        {% if movies %}
            <table>
                <tr>
                    <th>title</th>
                    <th>year</th>
                    <th>datetime added</th>
                    <th>actors</th>
                    <th>genres</th>
                    <th>reviews</th>
                </tr>
                {% for m in movies %}
                <tr>
                    <td>{{ m.title }}</td>
                    <td>{{ m.year }}</td>
                    <td>{{ m.timestamp }}</td>
                    <td>
                        <ul>
                        {% for a in m.actors %}
                            <li class="adm_list_entry">
                                <div>{{ a.name }}</div>
                                <form action="{{ url_for('admin_movie_del_actor', movie_id=m.id, actor_id=a.id) }}"
                                    method="POST" novalidate>
                                    {{ del_form.hidden_tag() }}
                                    <div>{{ del_form.submit() }}</div>
                                </form>
                            </li>
                        {% else %}
                            <li class="adm_list_entry">
                                <div>No actors...</div>
                            </li>
                        {% endfor %}
                            <li class="adm_list_entry">
                                <form action="{{ url_for('admin_movie_add_actor', id=m.id) }}" method="POST" novalidate>
                                    {{ add_actor.hidden_tag() }}
                                    <div>
                                        {{ add_actor.select() }} {{ add_actor.submit() }}
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                        {% for g in m.genres %}
                            <li class="adm_list_entry">
                                <div>{{ g.name }}</div>
                                <form action="{{ url_for('admin_movie_del_genre', movie_id=m.id, genre_id=g.id) }}"
                                    method="POST" novalidate>
                                    {{ del_form.hidden_tag() }}
                                    <div>{{ del_form.submit() }}</div>
                                </form>
                            </li>
                        {% else %}
                            <li class="adm_list_entry">
                                <div>No genres...</div>
                            </li>
                        {% endfor %}
                            <li class="adm_list_entry">
                                <form action="{{ url_for('admin_movie_add_genre', id=m.id) }}" method="POST" novalidate>
                                    {{ add_genre.hidden_tag() }}
                                    <div>
                                        {{ add_genre.select() }} {{ add_genre.submit() }}
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                        {% for r in m.reviews %}
                            <li>{{ r.grade }}</li>
                        {% else %}
                            <li class="adm_list_entry">
                                <div>No reviews...</div>
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No movies yet...</p>
        {% endif %}
        <h2>Add new:</h2>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }}<br>
                {{ form.title(size=32) }}
                {% for e in form.title.errors %}
                    <div style="color: red;">{{ e }}</div>
                {% endfor %}
            </p>
            <p>
                {{ form.year.label }}<br>
                {{ form.year(size=32) }}
                {% for e in form.year.errors %}
                    <div style="color: red;">{{ e }}</div>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </section>
{% endblock adminstuff %}
