{% extends "admin.html" %}
{% block adminstuff %}
    <section>
        <h2>Edit synopsis for {{ movie_title }}, {{ movie_year }}:</h2>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.synopsis.label }}<br>
                {{ form.synopsis(cols=40, rows=8) }}
                {% for e in form.synopsis.errors %}
                    <div style="color: red;">{{ e }}</div>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </section>
{% endblock adminstuff %}
