<html>
    <head>
        <title>Titanic Movies</title>
    </head>
    <body>
        <nav>
            <div>Titanic Movies: <a href="/index">Home</a></div>
        </nav>
        <hr>
        {% block content %}
        {% endblock %}
    </body>
</html>
