{% extends 'base.j2' %}

{% block content %}

    <section>
        <h2>Welcome text or banner</h2>
        <p>some kind of welcome text or a banner goes here</p>
    </section>
    <section>
        <h2>Top ten</h2>
        <p>best ten movies go here</p>
    </section>
    <section>
        <h2>New additions</h2>
        <p>new movies added go TESSSSSSSTTTTTT</p>
    </section>
{% endblock content %}
