{% extends 'base.html' %}

{% block content %}

    <section id="welcome_banner" class="banner">
        <div id="main-image">
            <h2>Welcome to Titanic Movies!</h2>
            <div>Your go to place for the best and most coherent reviews of movies all kinds.</div>
        </div>
    </section>

    <div class="flex-entry">
        <section class="banner">
            <h2>Top graded</h2>
            {% if top_graded %}
                <ol>
                    {% for m in top_graded %}
                        <li>
                            <a href="{{ url_for('movie_details', id=m.id) }}">
                                {{ m.title }}, {{ m.year }}
                            </a>
                            (grade average {{ m.avg }})
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>No reviews yet...</p>
            {% endif %}
        </section>

        <section class="banner">
            <h2>New additions</h2>
            {% if newbies %}
                <ul>
                    {% for n in newbies %}
                        <li>
                            {{ n.timestamp.date() }}: 
                            <a href="{{ url_for('movie_details', id=n.id) }}">{{ n.title }}, {{ n.year }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No movies added...</p>
            {% endif %}
        </section>
    </div>
    <section class="banner">
    {% if current_user.is_anonymous %}
        <h2>Not yet a member?</h2>
        <p>
            As a member of Titanic Movies you get a fantastic opportunity to review all the movies in our
            comprehensive movie database. You also get to request new movies that are not yet included
            by filling the members-only request form.
        </p>
        <p>What are you waiting for? <a href="{{ url_for('register') }}">Click here</a> to sign up!</p>
    {% else %}
        <h2>Hungry and want for more?</h2>
        <p>
            Didn't find your favourite movie? Desperately want to review something that wasn't listed?
            Contact us using this form to request new movies for review:
            <form method="POST" action="">
                <input placeholder="placeholder input" />
            </form>
        </p>
    {% endif %}
    </section>

{% endblock content %}
