{% extends 'base.j2' %}

{% block content %}

    <section>
        <h2>Welcome text or banner</h2>
        <p>some kind of welcome text or a banner goes here</p>
    </section>
    <section>
        <h2>Top ten</h2>
        {% if top_graded %}
            <ol>
                {% for m in top_graded %}
                    <li>
                        title: {{ m.title }}, grade average: {{ m.avg }}
                    </li>
                {% endfor %}
            </ol>
        {% else %}
            <p>No reviews yet...</p>
        {% endif %}
    </section>
    <section>
        <h2>New additions</h2>
        {% if newbies %}
            <ul>
                {% for n in newbies %}
                    <li>
                        {{ n.title }} {{ n.year }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No movies added...</p>
        {% endif %}
    </section>
{% endblock content %}
