{% extends 'base.html' %}

{% block content %}

    <section class="banner">
        <div>
            <h2>
                Welcome to Titanic Movies!
                <br>
                <small>
                    Your go to place for the best and most coherent reviews of movies all kinds.
                </small>
            </h2>
        </div>
    </section>

    <div class="flex-entry">
        <section>
            <h2>Top graded</h2>
            {% if top_graded %}
                <ol>
                    {% for m in top_graded %}
                        <li>
                            <a href="{{ url_for('movie_details', id=m.id) }}">
                                {{ m.title }}, {{ m.year }}
                            </a>
                            (grade average {{ m.avg }})
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>No reviews yet...</p>
            {% endif %}
        </section>

        <section>
            <h2>New additions</h2>
            {% if newbies %}
                <ul>
                    {% for n in newbies %}
                        <li>
                            {{ n.timestamp.date() }}: 
                            <a href="{{ url_for('movie_details', id=n.id) }}">{{ n.title }}, {{ n.year }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No movies added...</p>
            {% endif %}
        </section>
    </div>
    <section>
    {% if current_user.is_anonymous %}
        <h2>Not yet a member?</h2>
        <p>
            As a member of Titanic Movies you get a fantastic opportunity to review all the movies in our
            comprehensive movie database. You also get to request new movies that are not yet included
            by filling the members-only request form.
        </p>
        <p>What are you waiting for? <a href="{{ url_for('register') }}">Click here</a> to sign up!</p>
    {% else %}
        <h2>Hungry and want for more?</h2>
        <p>
            Didn't find your favourite movie? Desperately want to review something that wasn't listed?
            Contact us using this form to request new movies for review:
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <p>{{ form.name.label }}<br>{{ form.name }}</p>
                {% for e in form.name.errors %}
                    <div class="errormsg">{{ e }}</div>
                {% endfor %}
                <p>{{ form.year.label }}<br>{{ form.year }}</p>
                {% for e in form.year.errors %}
                    <div class="errormsg">{{ e }}</div>
                {% endfor %}
                <p>{{ form.other_info.label }}<br>{{ form.other_info(cols=40, rows=8) }}</p>
                {% for e in form.other_info.errors %}
                    <div class="errormsg">{{ e }}</div>
                {% endfor %}
                <p>{{ form.submit }}</p>
            </form>
        </p>
    {% endif %}
    </section>

{% endblock content %}
