{% extends "base.html" %}
{% block content %}

<h2>All reviews of {{ movie.title }}, {{ movie.year }}</h2>

<aside class="filter-box">
    <h3>Filters:</h3>
    <form action="" method="GET">
        <div class="flex-entry">
            <p>
                <label for="inputmingrade">Min grade</label>
                <input id="inputmingrade" type="number" name="min_grade" max=5 min=0 />
            </p>
            <p>
                <label for="inputmaxgrade">Max grade</label>
                <input id="inputmaxgrade" type="number" name="max_grade" max=5 min=0 />
            </p>
            <p>
                <label for="inputmindate">Min date</label>
                <input id="inputmindate" type="date" name="min_date" />
            </p>
            <p>
                <label for="inputmaxdate">Max date</label>
                <input id="inputmaxdate" type="date" name="max_date" />
            </p>
        </div>
        <div class="flex-entry">
            <p>
                <label for="sortorderdate">Sort by date</label>
                <input id="sortorderdate" type="radio" name="sort_by" value=1 />
                <label for="sortordergrade">Sort by grade</label>
                <input id="sortordergrade" type="radio" name="sort_by" value=0 />
            </p>
        </div>
        <p id="text-search">
            <label for="textcontains">Contains</label>
            <input id="textcontains" type="text" name="textcontains" />
        </p>
        <p>
            <input type="submit" value="Apply" />
        </p>
    </form>
</aside>

<aside>
    <strong>In effect:</strong>
    <div>sort order:
        {% if sort_by == 0 %}
            grade (descending)
        {% else %}
            date (descending)
        {% endif %}
    </div>
    <div>date between: [{{ min_date }}, {{ max_date }}]</div>
    <div>grade between: [{{ min_grade }}, {{ max_grade }}]</div>
    <div>text contains: {{ textcontains }}</div>
</aside>

<div>
    {% for review in reviews %}
        {% include "_movie_review_box.html" %}
    {% else %}

        <div>
            No reviews!
        </div>
    {% endfor %}
</div>
{% include "_pagination_links.html" %}

{% endblock content %}
