{% extends "base.j2" %}
{% block content %}

<section id="movie_info_box">
    <h2>{{ movie.title }}, {{ movie.year }}</h2>
    <div>
        <strong>Genres:</strong>
        <ul class="comma-sep-list">
            {% for g in movie.genres %}
                <li>{{ g.name }}</li>
            {% else %}
                This movie doesn't have any genres listed
            {% endfor %}
        </ul>
    </div>

    <div>
        <strong>Starring:</strong>
        <ul class="comma-sep-list">
            {% for a in movie.actors %}
                <li>{{ a.name }}</li>
            {% else %}
                This movie doesn't have any actors listed
            {% endfor %}
        </ul>
    </div>
</section>

<section id="movie_reviews_box">
    <h3>Reviews:</h3>
    {% if reviews %}
        <div class="flex-entry">
            {% for r in reviews %}
                <div class="single-review">
                    <h4>Review by {{ r.username }}: {{ r.grade }}/5<br>
                        <small>{{ r.timestamp }}</small>
                    </h4>
                    <div>
                        <h5>Thoughts:</h5>
                        <p>{{ r.thoughts }}</p>
                    </div>
                    <div>
                        <h5>Feelings:</h5>
                        <p>{{ r.feelings }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('reviews', id=movie.id) }}">Read all reviews</a>
    {% else %}
        <div>No reviews yet...</div>
    {% endif %}
</section>

<section id="custom_review_box">
    <h3>Write your own review:</h3>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p class="custom-review-component">
            {{ form.grade.label }}<br>
            {{ form.grade }}
            {% for e in form.grade.errors %}
                <div class="errormsg">{{ e }}</div>
            {% endfor %}
        </p>
        <div>
            <p>
                {{ form.thoughts.label }}<br>
                {{ form.thoughts(cols=40, rows=8) }}
                {% for e in form.thoughts.errors %}
                    <div class="errormsg">{{ e }}</div>
                {% endfor %}
            </p>
            <p>
                {{ form.feelings.label }}<br>
                {{ form.feelings(cols=40, rows=8) }}
                {% for e in form.feelings.errors %}
                    <div class="errormsg">{{ e }}</div>
                {% endfor %}
            </p>
        </div>
        <p class="custom-review-component">{{ form.submit() }}</p>
    </form>
</section>

{% endblock content %}
