{% extends "base.html" %}
{% block content %}

{% with movie=movie %}
    {% include "_movie_info_box.html" %}
{% endwith %}

<section id="movie_reviews_box">
    <h2>Reviews</h2>
    {% if reviews %}
        <div>
            {% for review in reviews %}
                {% include "_movie_review_box.html" %}
            {% endfor %}
        </div>
        <a href="{{ url_for('reviews', id=movie.id) }}">Read all reviews</a>
    {% else %}
        <div>No reviews yet...</div>
    {% endif %}
</section>

<section id="custom_review_box">
    <h2>Write your own review</h2>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p class="custom-review-component">
            {{ form.grade.label }}<br>
            {{ form.grade }}
            {% for e in form.grade.errors %}
                <div class="errormsg">{{ e }}</div>
            {% endfor %}
        </p>
        <div>
            <p>
                {{ form.thoughts.label }}<br>
                {{ form.thoughts(cols=40, rows=8) }}
                {% for e in form.thoughts.errors %}
                    <div class="errormsg">{{ e }}</div>
                {% endfor %}
            </p>
            <p>
                {{ form.feelings.label }}<br>
                {{ form.feelings(cols=40, rows=8) }}
                {% for e in form.feelings.errors %}
                    <div class="errormsg">{{ e }}</div>
                {% endfor %}
            </p>
        </div>
        <p class="custom-review-component">{{ form.submit() }}</p>
    </form>
</section>

{% endblock content %}
